 	
<div class='container'>
 	<% @posts.each do |p| %>
 <div  class='post-form'>
 	<div class='post-form-inner'>
 		<h4>Title: </h4>
 		<li><a href='/posts/<%= p.id %>'><%= p.title %></a></li>
 		<br>
 		<h4>Content: </h4>
 		<li><%= p.content.html_safe  %></li>
 		<br>
 		<li>Tag: <%= p.category %></li>
 	</div>
 </div>
 	<% end %>
</div>