* {
	margin: 0;
	padding: 0;
}

html, body {
	max-width: 100%;
	overflow-x: hidden;
}

.navbar {
	width: 100%;
	// border: 2px solid;
	background-color: black;
	margin: 0 auto;
	padding: 20px;
	color: white;
	height: 100px;
	line-height: 100px;
}

.navbar li {
	list-style-type: none;
	display: inline-block;
	padding-left: 20px;
}
.navbar li a {
	text-decoration: none;
	
}
.admin {
	border: 2px solid;
	padding:10px 10px;
	float: right;
	margin-right: 40px;
	background-color: lightgreen;


}
